<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minjer.smartchill.mapper.TransactionMapper">
    <resultMap id="DrinkResultMap" type="com.minjer.smartchill.entity.dto.Transaction">
        <result column="id" property="id"/>
        <result column="drink_id" property="drinkId"/>
        <result column="type" property="type"/>
        <result column="count" property="count"/>
        <result column="position" property="position"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="getDrinkOnSale" resultType="com.minjer.smartchill.entity.dto.Transaction">
        select drink_id,
               sum(IF(type = 0, count, 0)) - sum(IF(type = 1, count, 0)) AS count,
               position
        from transaction
        group by drink_id, position
        having sum(IF(type = 0, count, 0)) - sum(IF(type = 1, count, 0)) > 0
    </select>
    <select id="getDrinkSellStatisticsByDate" resultType="com.minjer.smartchill.entity.dto.Transaction">
        select drink_id,
               sum(IF(type = 1, count, 0)) AS count
        from transaction
        where time between #{begin} and #{end}
        group by drink_id
        having sum(IF(type = 1, count, 0)) > 0
    </select>


</mapper>